@endColor: #E3A7FF;
@opacityEnd: rgba(227, 167, 255, 0.5);
@defaultColor: #574163;
@transitionAll: all 0.2s ease-in-out;

.menu-wrapper {
    .menu-aside {
        width: 14.5%;
        min-width: 70px;
        float: left;
        height: 40px;
        background: #000;
        text-align: center;
        height: 100vh;
        transition: all 0.3s ease-in-out;

        .menu-aside-header {
            height: 7vh;
            background-image: linear-gradient(-135deg, #C2BFFB 0%, @endColor 100%);

            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 60px 0 0 60px;
                border-color: transparent transparent transparent rgba(0, 0, 0, 0.03);
            }

            &::after {
                right: 0px !important;
                transform: rotate(-90deg);
            }

            > h3 {
                font-family: 'Pacifico', cursive;
                font-size: 24px;
                color: #fff;
            }
        }

        .menu-basic, .menu-feature {
            margin-top: 20px;

            .menu-list {
                padding: 10px;
                cursor: pointer;

                > a {
                    width: 100%;
                    position: relative;

                    > i {
                        font-size: 18px;
                        color: @opacityEnd;
                    }

                    .menu-info {
                        display: inline-block;
                        margin-left: 12px;
                        width: 54px;
                        text-align: left;
                        color: @opacityEnd;
                    }
                }

                &:hover {
                    > a {
                        > i {
                            color: @endColor;
                        }

                        .menu-info {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .menu-feature {
            margin: 5vh 0 15vh;
            
            &:before {
                content: '相关工具栏';
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .menu-aside-footer {
            text-align: center;

            > img {
                width: 5wh;
                height: 5vh;
                border: 2px solid @opacityEnd;
                border-radius: 50%;
                padding: 5px;
            }
        }
    }

    .menu-content {
        overflow: hidden;
        color: #000;
    }
}
