@endColor: #E3A7FF;
@opacityEnd: rgba(227, 167, 255, 0.5);
@defaultColor: #574163;
@transitionAll: all 0.2s ease-in-out;
@prefix-cls: menu-wrapper;

.@{prefix-cls} {
    font-size: 1.5rem;

    .menu-basic {
        margin-top: 10px;

        .menu-list {
            font-size: 14px;
            padding: 8px;
            cursor: pointer;

            .cur {
                color: @endColor;
            }

            > a {
                width: 100%;
                text-decoration: none;
                position: relative;

                > i {
                    font-size: 2rem;
                    color: @opacityEnd;
                    transition: @transitionAll;
                }

                .menu-info {
                    margin-left: 12px;
                    width: 54px;
                    text-align: left;
                    color: @opacityEnd;
                    transition: @transitionAll;
                }
            }

            &:hover {
                > a {
                    > i {
                        color: @endColor;
                    }

                    .menu-info {
                        color: #fff;
                    }
                }
            }
        }
    }
    &-content {
        
        &-basic {
            .menu-basic();
        }

        &-feature {
            .menu-basic();
            margin: 3vh 0;

            &:before {
                content: '内容发布';
                color: rgba(255, 255, 255, 0.5);
            }
        }

        &-info {
            .menu-basic();
            margin-bottom: 5vh;

            &:before {
                content: '信息管理';
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    &-aside {
        width: 14.5%;
        min-width: 70px;
        float: left;
        height: 40px;
        background: #000;
        text-align: center;
        height: 100vh;
        transition: all 0.3s ease-in-out;

        &-header {
            height: 7vh;
            line-height: 7vh;
            background-image: linear-gradient(-135deg, #C2BFFB 0%, @endColor 100%);
    
            > a {
                > h3 {
                    font-family: 'Pacifico', cursive;
                    font-size: 3rem;
                    color: #fff;
                }
    
                &:hover {
                    text-decoration: none;
                }
            }
        }
    
        &-footer {
            text-align: center;
            cursor: pointer;
            text-decoration: none;
    
            > img {
                width: 3.5rem;
                height: 3.5rem;
                border: 2px solid @opacityEnd;
                border-radius: 50%;
                padding: 0.42rem;
                transition: @transitionAll;
    
                &:hover {
                    border-color: @endColor;
                    transition: @transitionAll;
                }
            }
        }

        &-footer-name {
            margin-top: 0.25rem;
            color: rgba(255, 255, 255, 0.9);
        }
    }
}
