.xy-bottom-wrapper {
  width: 100%;
}
.xy-bottom-wrapper > div {
  float: left;
  width: calc(35% - 1px);
  border-right: 2px solid rgba(151, 151, 151, 0.2);
}
.xy-bottom-wrapper > div:last-child {
  width: calc(30% - 2px);
  border-right: none;
}
.xy-bottom-wrapper h3 {
  font-size: 30px;
  color: #000;
  letter-spacing: 0;
  text-align: center;
  line-height: 4;
}
